@import "../../global.scss";

li {
    font-size: 14px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    &.ativo {
        background-color: $corPrincipal;
        color: white;

        .icone-destaque {
            color: yellow;
        }
    }
}
